<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <link href='../static/css/bootstrap.min.css' rel="stylesheet">
        <link href='../static/css/style.css' rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src='../static/js/main.js' ></script>
        <title></title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="https://github.com/yassine-rd/bird_species_classification" target="_blank" id="github">
                        Bird recognition using deep learning-based methods
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <div id="motivation">
                <h4>
                    <a href="https://colab.research.google.com/drive/17DVyhanaVlUjsj_em4lUi9RJfhJf224S?usp=sharing" target="_blank" id="colab">
                        Using convolutional neural networks to build and train a deep learning model for bird classification on photographs
                    </a>
                </h4>
            </div>
            <div class="container">
                <div id="content" style="margin-top:2em">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <h5>Please upload an image</h5>
                                <form action="http://http://127.0.0.1:5000/" id="upload-file" method="post"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="imageUpload" class="col-sm-2 btn btn-primary mt-4">
                                            Upload Image
                                        </label>
                                        <input type="file" name="image" class='form-control' id="imageUpload"
                                            accept=".png, .jpg, .jpeg">
                                    </div>
                                </form>



                            </div>

                            <div class="col-sm">
                                <div class="image-section" style="display:none;">
                                    <div class="img-preview">
                                        <div id="imagePreview">
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="col-sm-2 btn btn-primary " id="btn-predict"
                                            style="display: flex; align-items: center; justify-content: center;">Predict</button>
                                    </div>
                                </div>
                                <!-- <div class="loader" style="display:none;"></div> -->
                                <div class="loader lds-ellipsis">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <h5>
                                    <span id="result" class="mt-4"> </span>
                                </h5>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer-socials">
                <ul class="socials">
                    <li><a href="https://twitter.com/yassine_rd_" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/yassine-rd" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/yassine-rodani/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCminaYgqTyGUMeDF8Ew26Bw" target="_blank"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="footer-copy">
                <p>&copy; 2022. All rights reserved.</p>
            </div>
        </footer>
    </body>

</html>